/* styles.css */
img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 767px) {

  /* XS screen size */
  img {
    width: 600px;
  }
}

@media (min-width: 768px) {

  /* MD screen size */
  img {
    width: 1000px;
  }
}


/* @media (max-width: 767px) {
  .katex-display {
    font-size: 90%;
  }
} */

/* KateX Equation Setting*/


/* For Mac smallest screen  */
@media (max-width: 767px) {
  .katex {
    font-size: 105%;
    /* Slightly larger for screens >= 480px */
  }
}


/* For Smartphone  */
@media (max-width:450px) {
  .katex {
    font-size: 80%;
  }
}